      html, body, #map {
        height: 100%;
        padding: 0;
        margin: 0;
    font-family: 'Roboto', sans-serif;
      }

#nav {
  position: fixed;
    height: 40px;
    margin-bottom: 0em;
    top: 0;
    right: 0;
    left: 0;
    padding: 10px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
border: 0px none #000000;
}

#nav a:link {color:white; }


footer {
    position: fixed;
    height: 50px;
    margin-top: 1em;
    bottom: 0;
    right: 0;
    left: 0;
    background: green;
}

body > div.container {
    position: fixed;
    top: 53px;
    bottom: 0;
    right: 0;
    left: 0;
    vertical-align: top;
}




#map {
    height: 100%;
    width: calc(100% - 300px);
    float: left;

}

#sidebar {
 height: 100%;
width: calc(290px);
float: right;
text-align: left;
background: #f5f5f5;
font-family: 'Roboto', sans-serif;
font-size: 15px;
padding-left: 10px;
}	

.alternate {
  background-color: #DDDDDD;
  padding: 6px; 
  font-size: 12px;
  cursor: pointer;
}

.alternate:hover {
  background-color: #BBBBBB;
}

.altleft {
  float:left;
  width:200px;
  overflow-wrap: break-word;
  height:auto;
  font-size: 15px;

}
.altright {
  float:right;
  text-align: right;
  width:72px;
  height:auto;
  font-size: 13px;
  font-style: italic;
}

.clear { clear: both; }

#popupDetails{
	font-size: 12pt;
    padding-left: 10px;
    padding-right: 10px;
}

#popup {
  margin: auto;
  font-family: 'Roboto', sans-serif;
  width: 600px;
  text-align: center;
}

.button {
    background-color: #0F75BC;
    border: none;
    color: white;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    background-color: #4C606B;
    color: white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.tableRow:hover {
   background-color: #BBBBBB;
}

.tableRow{
  cursor: pointer;  
}